maintained node versions
last 1 version and not dead
> 1%
last 2 Explorer major versions
last 2 Samsung major versions
last 2 Android major versions
last 3 Edge major versions
last 3 iOS major versions
last 3 Chrome major versions
last 3 ChromeAndroid major versions
last 3 Firefox major versions
last 3 FirefoxAndroid major versions
last 3 Safari major versions