@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/open-sans-v17-latin-300.eot');
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('../fonts/open-sans-v17-latin-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans-v17-latin-300.woff2') format('woff2'),
		url('../fonts/open-sans-v17-latin-300.woff') format('woff'),
		url('../fonts/open-sans-v17-latin-300.ttf') format('truetype'),
		url('../fonts/open-sans-v17-latin-300.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/open-sans-v17-latin-300italic.eot');
	src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
		url('../fonts/open-sans-v17-latin-300italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans-v17-latin-300italic.woff2') format('woff2'),
		url('../fonts/open-sans-v17-latin-300italic.woff') format('woff'),
		url('../fonts/open-sans-v17-latin-300italic.ttf') format('truetype'),
		url('../fonts/open-sans-v17-latin-300italic.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/open-sans-v17-latin-regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
		url('../fonts/open-sans-v17-latin-regular.woff') format('woff'),
		url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'),
		url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/open-sans-v17-latin-italic.eot');
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
		url('../fonts/open-sans-v17-latin-italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans-v17-latin-italic.woff2') format('woff2'),
		url('../fonts/open-sans-v17-latin-italic.woff') format('woff'),
		url('../fonts/open-sans-v17-latin-italic.ttf') format('truetype'),
		url('../fonts/open-sans-v17-latin-italic.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/open-sans-v17-latin-600.eot');
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('../fonts/open-sans-v17-latin-600.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans-v17-latin-600.woff2') format('woff2'),
		url('../fonts/open-sans-v17-latin-600.woff') format('woff'),
		url('../fonts/open-sans-v17-latin-600.ttf') format('truetype'),
		url('../fonts/open-sans-v17-latin-600.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/open-sans-v17-latin-600italic.eot');
	src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
		url('../fonts/open-sans-v17-latin-600italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans-v17-latin-600italic.woff2') format('woff2'),
		url('../fonts/open-sans-v17-latin-600italic.woff') format('woff'),
		url('../fonts/open-sans-v17-latin-600italic.ttf') format('truetype'),
		url('../fonts/open-sans-v17-latin-600italic.svg#OpenSans') format('svg');
}

* {
	font-family: 'Open Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
}
