/* stylelint-disable number-max-precision, font-weight-notation */
$fontSize: calc(12px + 0.698vw);
$lineHeight: calc(#{$fontSize} * 1.4);
$letterSpacing: calc(#{$fontSize} * 0.0015);
$fontWeight: 300;

* {
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
}

h1 {
	font-size: calc(#{$fontSize} * 3);
	line-height: calc(#{$lineHeight} * 3);
}

h2 {
	font-size: calc(#{$fontSize} * 2);
	line-height: calc(#{$lineHeight} * 2);
}

h3 {
	font-size: calc(#{$fontSize} * 1.75);
	line-height: calc(#{$lineHeight} * 1.75);
}

h4 {
	font-size: calc(#{$fontSize} * 1.5);
	line-height: calc(#{$lineHeight} * 1.5);
}

h5 {
	font-size: calc(#{$fontSize} * 1.25);
	line-height: calc(#{$lineHeight} * 1.25);
}
